body{
    margin: 0;
    font-family: 'Microsoft Yahei';
}
input, textarea, keygen, select, button{
    font-family: 'Microsoft Yahei';
}
.container{
    margin-top: 20px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.container-b{
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

.cont_title {
    text-align:center;
    color:#333;
    font-size: 36px;
}
.text-center{
    text-align: center;
}
.ano-breadcrumb {
    margin: 10px 0;
}